/* appointment-2 */
.appointment-section{
    margin-top: 50px;
}
.appointment-section img.thumb-point{
    width: 100%;
    height: 296px;
    object-fit: cover;
}
.sqm-wrapper {
    border: 2px solid #8a9baa;
    margin-top: 8px;
    border-radius: 2px;
    padding: 0 50px;
}
.sqm-wrapper h5{
    border-bottom: 1px solid #cccccc;
    margin: 15px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.sqm-wrapper h6{
    margin-bottom: 0;
    font-weight: 700;
}
.sqm-wrapper h6, .sqm-wrapper p{
    text-align: center;
}
.sqm-wrapper p{
    font-size: 14px;
    color: #474747;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}
.appointment-form h2{
    margin-top: 16px;
    text-align: center;
    letter-spacing: -0.6px;
    margin-top: 0;
}
.schedule-day{
    background: #143654;
    padding: 5px;
    color: #fff;
    margin: 1.5px;
    padding: 11px 10px 6px;
}
.schedule-day small{
    font-size: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: -2px;
}
.schedule-day h4{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    margin-top: -3px;
}
.f-right{
    float: right;
}
.date-schedule{
    margin: 40px;
    margin-top: 24px;
}
.wrapper-sche{
    display: flex;
    margin: 0px 30px;
}
img.chevron-left{
    position: absolute;
    left: 20px;
    top: 48px;
    cursor: pointer;
}
img.chevron-right{
    position: absolute;
    right: 20px;
    top: 48px;
    cursor: pointer;
}
.grey-bg{
    background: #eef2f6;
    margin-top: 80px;
    margin-bottom: -10px;
    padding: 40px;
    min-height: 160px;
}
.grey-bg small{
    text-transform: uppercase;
    font-size: 14px;
    color: #474747;
    letter-spacing: -0.5px;
}
.grey-bg h2{
    font-weight: 700;
    color: #000;
    margin-top: -5px;
    font-size: 28px;
}
.grey-bg .info{
    float: left;
}
.appointment-form{
    padding: 0 60px;
}
.appointment-form label{
    font-size: 14px;
    margin-bottom: 5px;
    
}
.appointment-form .form-control{
    background-color: #f2f2f2;
}
.label-warning{
    color: #d30c1c;
    margin-top: 30px;
    line-height: 18px;
    font-style: italic;
}
.appointment-form .gutter-top{
    margin-top: 20px;
}
.appointment-form textarea{
    min-height: 150px;
}
img.info-icons{
    margin-bottom: 5px;
    margin-right: 3px;
}
.action-button{
    float: right;
    margin-top: 10px;
}
.action-button .btn{
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
    width: 130px;
    margin: 0 2px;
    font-size: 14px;
}
.action-button .btn.btn-back{
    background-color: #b3b3b3;
}
.action-button .btn.btn-next{
    background-color: #143654;
}
label.terms{
    color: #848484;
    margin-top: 20px;
}