/* appointment-1 */
.appointment-section{
    margin-top: 50px;
}
.appointment-section img.thumb-point{
    width: 100%;
    height: 296px;
    object-fit: cover;
}
.sqm-wrapper {
    border: 2px solid #8a9baa;
    margin-top: 8px;
    border-radius: 2px;
    padding: 0 50px;
}
.sqm-wrapper h5{
    border-bottom: 1px solid #cccccc;
    margin: 15px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.sqm-wrapper h6{
    margin-bottom: 0;
    font-weight: 700;
}
.sqm-wrapper h6, .sqm-wrapper p{
    text-align: center;
}
.sqm-wrapper p{
    font-size: 14px;
    color: #474747;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}
.appoinment-schedule h2{
    margin-top: 16px;
    text-align: center;
    letter-spacing: -0.6px;
}
.appoinment-schedule .schedule{
    margin: 0px 40px;
}
.schedule-day{
    background: #143654;
    padding: 5px;
    color: #fff;
    margin: 1.5px;
    padding: 11px 11px 6px;
}
.schedule-day small{
    font-size: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: -2px;
}
.schedule-day h4{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    margin-top: -3px;
}
.f-right{
    float: right;
}
.date-schedule{
    margin: 40px;
    margin-top: 24px;
    margin-bottom: 10px;
}
.wrapper-sche{
    display: flex;
    margin: 0px 30px;
}
img.chevron-left{
    position: absolute;
    left: 20px;
    top: 48px;
    cursor: pointer;
}
img.chevron-right{
    position: absolute;
    right: 20px;
    top: 48px;
    cursor: pointer;
}
.grey-bg{
    background: #eef2f6;
    margin-top: 80px;
    margin-bottom: -10px;
    padding: 40px;
    min-height: 160px;
}
.grey-bg small{
    text-transform: uppercase;
    font-size: 14px;
    color: #474747;
    letter-spacing: -0.5px;
}
.grey-bg h2{
    font-weight: 700;
    color: #000;
    font-size: 28px;
}
.grey-bg .info{
    float: left;
}
img.info-icons{
    margin-bottom: 5px;
    margin-right: 3px;
}
.action-button{
    float: right;
    margin-top: 10px;
}
.action-button .btn{
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
    width: 130px;
    margin: 0 2px;
    font-size: 14px;
}
.action-button .btn.btn-back{
    background-color: #b3b3b3;
}
.action-button .btn.btn-next{
    background-color: #143654;
}
.schedule-hours{
    margin: 1.5px;
}
.schedule-hours .time{
    background: #143654;
    color: #fff;
    margin: 1.5px;
    padding: 5px 0;
    font-size: 14px;
    margin-bottom: 4px;
    letter-spacing: 0;
    width: 85px;
    text-align: center;
}
.schedule-hours .time span.bold{
    font-weight: 500;
}
.wrapper-sche p{
    font-size: 14px;
    margin-top: 35px;
    line-height: 18px;
}
.p-top-12{
    padding-top: 12px;
}
.right-brdr{
    border-right: 1px solid #000;
    height: 50px;
}
.day-icon{
    margin-top: 8px;
}
.left-25{
    padding-left: 25px;
}
.grey-bg.schedule h2{
    margin-bottom: 0;
    margin-top: -5px;
}
.grey-bg.schedule small {
    text-transform: inherit;
}
img.location-schedule{
    float: right;
    margin-top: 10px;
}
h2.nowrap{
    letter-spacing: -0.5px;
    white-space: nowrap;
    margin-bottom: 0;
}
.grey-bg.schedule .action-button {
    margin-top: 0;
}
.grey-bg.schedule {
    margin-top: 35px;
}
/* carousel */
.MultiCarousel { float: left; overflow: hidden; padding: 15px 0; width: 80%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; }
.leftLst,  .rightLst { position:absolute; border-radius:50%;top:0; }
.leftLst { left: 0px; top: -10px; }
.rightLst { right: 0px; top: -10px; }
.leftLst.over,  .rightLst.over { pointer-events: none}
.leftLst,  .rightLst,  .leftLst:checked,  .rightLst:focus{ background: none; border: none; }

.schedule-time{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}
.MultiCarousel-inner.wrapper-sche{
    margin: 0px;
}

.p-70 {
    padding: 15px 70px;
}
