.forgot-section {
    background: #fff;
    border-bottom: 15px solid #143655;
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
    margin: 106px 70px;
    float: left;
}
.forgot-section h4{
    font-size: 22px;
}
p.h60{
    padding: 0 60px;
}
.btn-prim{
    background: #133555;
    color: #fff;
    outline: none;
    border: none;
    width: 40%;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}
span.back-login{
    color: #000;
    font-size: 12px;
    margin-left: 15px;
}
span.back-login a{
    color: #000;
}
.login-form .wrapper-form .separat-or {
    width: 100%;
    height: 30px;
    margin: 30px auto auto auto;
    text-align: center;
    position: relative;
}

.login-form .wrapper-form .separat-or .separat {
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    position: relative;
}

.login-form .wrapper-form .separat-or h6 {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
    background: #fff;
    color: #e4e4e4;
    margin: auto;
    text-align: center;
    width: 20px;
    height: 20px;
    padding-top: 7px;
    font-weight: normal;
    top: -10px;
    left: 50%;
    font-size: 8px;
    padding: 5px 4px;
}

.login-form .wrapper-form .btn-socmed {
    width: 100%;
    margin: auto;
    text-align: center;
}

.login-form .wrapper-form .btn-socmed .conti-fb {
    width: 33%;
    margin: auto;
    outline: none;
    border: none;
    background: #4267b5;
    border-radius: 4px;
    cursor: pointer;
    height: 46px;
}

.login-form .wrapper-form .btn-socmed .conti-fb i {
    color: #fff;
    line-height: 48px;
    margin-left: 12px;
}

.login-form .wrapper-form .btn-socmed .conti-fb .conti {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 auto;
}

.login-form .wrapper-form .btn-socmed .conti-fb .bord-le {
    border-left: 1px solid #fff;
    padding: 8px 10px 8px 0;
}

.login-form .wrapper-form .btn-socmed .conti-go {
    width: 33%;
    margin: auto;
    outline: none;
    border: none;
    background: #f14a3c;
    border-radius: 4px;
    cursor: pointer;
    height: 46px;
}

.login-form .wrapper-form .btn-socmed .conti-go i {
    color: #fff;
    line-height: 48px;
    margin-left: 7px;
}

.login-form .wrapper-form .btn-socmed .conti-go .conti {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 auto;
}

.login-form .wrapper-form .btn-socmed .conti-go .bord-le {
    border-left: 1px solid #fff;
    padding: 8px 10px 8px 0;
}

.login-form .wrapper-form .btn-socmed .conti-in {
    width: 32%;
    margin: auto;
    outline: none;
    border: none;
    background: #1d7faf;
    border-radius: 4px;
    cursor: pointer;
    height: 46px;
}

.login-form .wrapper-form .btn-socmed .conti-in i {
    color: #fff;
    line-height: 48px;
    margin-left: 7px;
}

.login-form .wrapper-form .btn-socmed .conti-in .conti {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 auto;
}

.login-form .wrapper-form .btn-socmed .conti-in .bord-le {
    border-left: 1px solid #fff;
    padding: 8px 10px 8px 0;
}
.grey-input {
    height: 46px;
    background: #eef2f6;
    border: none;
    padding: 5px 24px;
}
.add-p{
    padding-bottom: 10px;
    padding-top: 25px;
    margin-top: 125px;
}
.check-password{
    background: #133654;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    font-size: 34px;
    margin: 40px auto 30px;
}
.btn-prim.w50{
    width: 50%;
}
.password-confirm-wrap{
    padding: 20px 80px 60px;
}
.bottom-0{
    margin-bottom: 0;
}
.forgot-section input{
    font-family: comfortaa;
    color: #000;
    padding: 20px;
    font-size: 14px;
}
.forgot-section input:focus{
    padding: 20px;
}