@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------ APARTMENT MAPS BY SEARCH ------------*/

/*------GLOBAL IN THIS PAGE------*/
.pad-ri-srch {
    padding-right: 0;
}

.pad-le-srch {
    padding-left: 0;
}

.m-top-10 {
    margin-top: 10px;
}

.mar-btm-adv {
    margin-bottom: 30px;
}

.bord-mar-btm-adv {
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 2px;
}

.pad-ri-input {
    padding-right: 4px;
}

.pad-le-input {
    padding-left: 4px;
}

body {
    position: relative;
}

/*------NAVBAR ONLY IN THIS PAGE------*/
nav.zdex-10 {
    z-index: 995;
}

/*------NAVBAR FILTER------*/
.toggle-filter {
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 2;
    display: none;
}

.toggle-filter i {
    color: #fff;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/*------BREADCRUMB RESPONSIVE ONLY------*/
.resp-crumb {
    background: #eef1f7;
    width: 100%;
    height: 52px;
    display: none;
    position: fixed;
    z-index: 8;
}

.resp-crumb .wrapper-fltr {
    padding-top: 12px;
}


.resp-crumb .wrapper-fltr img {
    float: left;
}

.resp-crumb .wrapper-fltr h5 {
    vertical-align: middle;
    font-size: 18px;
    margin: auto 18px;
    padding: 5px 20px;
    cursor: pointer;
    color: #133555;
}

/*------BREADCRUMB------*/
.crumb-srch {
    width: 100%;
    height: 90px;
    background: #eef1f7;
    position: fixed;
    z-index: 2;
    top: 80px;
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid #a8a8a8;
}

.crumb-srch .wrapper-srch {
    width: auto;
    height: auto;
    margin: auto;
    visibility: hidden;
    opacity: 0;
}

.crumb-srch .resp-1170-2 i.cls {
    color: #133555;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 24px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.crumb-srch h3.title-resp-1170 {
    display: none;
    margin: 20px 0 0 0;
    color: #133555;
    padding-bottom: 10px;
}

.crumb-srch .wrapper-srch input.myinput {
    display: block;
    padding: 0.375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: all 300ms ease-in-out;
}

.crumb-srch .wrapper-srch input.myinput::placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.crumb-srch .wrapper-srch input.myinput::-webkit-input-placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.crumb-srch .wrapper-srch input.myinput::-moz-placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.crumb-srch .wrapper-srch input.myinput:-ms-input-placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.crumb-srch .wrapper-srch input.myinput:-moz-placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #143655 !important;
    color: white;
    width: 100% !important;
}

.select2-container--default .select2-results> .wrapper-srch .select2-results__options {
    max-height: 100% !important;
    overflow-y: auto;
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #aaaaaa 1px !important;
    outline: 0;
}

.select2-container--default .select2-selection--multiple {
    height: 40px;
}

.select2-container {
    width: 190px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: flex !important;
}

.wrapper-neadv {
    width: auto;
    margin: auto;
}

.wrapper-neadv .nearby {
    font-size: 14px;
    margin: auto 4px;
}

.wrapper-neadv .btnby {
    background: #143655;
    color: #fff;
    vertical-align: middle;
}

.wrapper-neadv .btnby img {
    width: auto;
    height: 26px;
    vertical-align: middle;
    margin: auto 4px auto 0;
}

.wrapper-advsc {
    width: auto;
    height: auto;
    margin: auto;
}

.wrapper-advsc .btndv {
    background: #143655;
    color: #fff;
    vertical-align: middle;
    padding: 8.5px;
    font-size: 14px;
}

.separator-ri {
    border-right: 1px solid #aaa;
}


.crumb-srch .wrapper-bleft {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
}

.crumb-srch .wrapper-bright {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
}

.wrapper-maps {
    margin: auto;
    width: auto;
}


.wrapper-maps .btnmap {
    background: #143655;
    color: #fff;
    vertical-align: middle;
    padding: 7px;
}

.wrapper-maps .btnmap img {
    width: auto;
    height: 23px;
    vertical-align: middle;
    margin: auto 4px auto 0;
}
.wrapper-maps .btnmap .maps {
    font-size: 14px;
}

.wrapper-grid {
    width: auto;
    margin: auto;
}

.wrapper-grid .btngrid {
    background: #fff;
    color: #143655;
    vertical-align: middle;
}

.wrapper-grid .btngrid i {
    color: #143655;
    margin-right: 7px;
}

.wrapper-grid .btngrid .grid {
    color: #143655;
    font-size: 14px;
}

/*------NEARBY POP OVER------*/
.nearby-maps {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 10;
}

.nearby-maps .close-nearby {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: absolute;
    opacity: 0;
    display: none;
}

.nearby-maps .close-nearby.active {
    display: block;
}

.nearby-maps .wrapper-nearby .pop-nearby {
    background: #fff;
    width: 390px;
    height: 256px;
    position: absolute;
    top: 78px;
    left: 32%;
    padding: 14px;
    box-shadow: 0.1rem 0.123rem 0.375rem rgba(0, 0, 0, .15);
    border-radius: 6px;
    display: none;
    z-index: 2;
}

.nearby-maps .wrapper-nearby .pop-nearby.active {
    display: block;
}

.nearby-maps .wrapper-nearby .pop-nearby h4 {
    font-size: 16px;
    text-align: center;
}

.nearby-maps .wrapper-nearby .slide-range input.kilos-range {
    width: 90%;
    margin: auto;
    -webkit-appearance:none;
    -moz-appearance:none;
    outline: none;
    -moz-outline: none;
}

.nearby-maps .wrapper-nearby .slide-range input.kilos-range::-webkit-slider-runnable-track {
    background: #133555;
    height: 4px;
    border-radius: 2px;
}

.nearby-maps .wrapper-nearby .slide-range input.kilos-range::-webkit-slider-thumb {
    -webkit-appearance:none;
    background: #133555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
}

.nearby-maps .wrapper-nearby .slide-range input.kilos-range::-moz-range-track {
    background: #133555;
    height: 4px;
    border-radius: 2px;
}

.nearby-maps .wrapper-nearby .slide-range input.kilos-range::-moz-focus-outer {
    border: 0;
    outline: none;
}

.nearby-maps .wrapper-nearby .slide-range input.kilos-range::-moz-range-thumb {
    -moz-appearance:none;
    background: #133555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
    outline: none;
}

.nearby-maps .wrapper-nearby .near-checkbox {
    width: 100%;
    text-align: left;
    margin: 46px auto;
}

.nearby-maps .wrapper-nearby .near-checkbox .shelter, .nearby-maps .wrapper-nearby .near-checkbox .mall, .nearby-maps .wrapper-nearby .near-checkbox .train, .nearby-maps .wrapper-nearby .near-checkbox .traditional, .nearby-maps .wrapper-nearby .near-checkbox .highway, .nearby-maps .wrapper-nearby .near-checkbox .univ, .nearby-maps .wrapper-nearby .near-checkbox .hospital{
    float: left;
    width: 100%;
}

.nearby-maps .wrapper-nearby .near-checkbox .shelter .round-check.active, .nearby-maps .wrapper-nearby .near-checkbox .mall .round-check.active, .nearby-maps .wrapper-nearby .near-checkbox .train .round-check.active, .nearby-maps .wrapper-nearby .near-checkbox .traditional .round-check.active, .nearby-maps .wrapper-nearby .near-checkbox .highway .round-check.active, .nearby-maps .wrapper-nearby .near-checkbox .univ .round-check.active, .nearby-maps .wrapper-nearby .near-checkbox .hospital .round-check.active {
    background: #133555;
    border: none;
}

.nearby-maps .wrapper-nearby .near-checkbox .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.nearby-maps .wrapper-nearby .near-checkbox h6 {
    font-size: 14px;
    margin: 10px;
}

.nearby-maps .wrapper-nearby .pop-nearby .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    margin-top: -23px;
    margin-left: 44%;
}

.title-rslt.rspv {
    margin: 20px auto 10px auto;
    display: none;
}

.title-rslt.rspv h4 {
    color: #133555;
    font-size: 16px;
}

/*------SHOWING OFFICE------*/
.showoffice {
    margin: 70px auto auto auto;
    padding: 20px 0 0 0;
    overflow-x: hidden;
}

.container-scnd {
    padding: 0;
    width: 100%;
    margin: 0 20px;
}

.showoffice .title-rslt {
    margin: 16px auto 10px auto;
    display: block;
}

.showoffice .title-rslt h4 {
    color: #133555;
    font-size: 16px;
}

.showoffice .wrapper-tagline {
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    padding: 4px 0;
    margin-bottom: 8px;
}

.showoffice .tag-one {
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 4px 0;
}

.showoffice .tag-one .pik {
    font-size: 10px;
    margin: auto 2px auto auto;
}

.showoffice .tag-one i {
    vertical-align: middle;
    background: #c4c4c4;
    color: #4e4e4e;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.showoffice .tag-two {
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 4px 0;
}

.showoffice .tag-two .pik2 {
    font-size: 10px;
    margin: auto 2px auto auto;
}

.showoffice .tag-two i {
    vertical-align: middle;
    background: #c4c4c4;
    color: #4e4e4e;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.showoffice .tag-three {
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 4px 0;
}

.showoffice .tag-three .pik3 {
    font-size: 10px;
    margin: auto 2px auto auto;
}

.showoffice .tag-three i {
    vertical-align: middle;
    background: #c4c4c4;
    color: #4e4e4e;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.showoffice .tag-four {
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 4px 0;
}

.showoffice .tag-four .pik4 {
    font-size: 10px;
    margin: auto 2px auto auto;
}

.showoffice .tag-four i {
    vertical-align: middle;
    background: #c4c4c4;
    color: #4e4e4e;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

/*------------ ADVANCE SEARCH ------------*/

.adv-search {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.99);
    padding: 20px 0;
    position: absolute;
    z-index: 9;
    display: none;
    height: 100%;
}

.adv-search.active {
    display: block;
}

.adv-search .title-adv {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 22px;
}

.adv-search .title-adv h2 {
    margin: auto;
    text-align: center;
    color: #133555;
    font-size: 22px;
}

.adv-search .title-adv .wrapper-btnsw {
    float: none;
    margin: auto;
    text-align: center;
    display: flex;
}
/*---.wrapper-btnsw {
    width: 190px;
    position: relative;
    height: 90px;
    text-align: center;
    display: flex;
}

.adv-search .title-adv .switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
    margin: 27px 10px;
}

.adv-search .title-adv .switch input {
    display: none;
}

.adv-search .title-adv .slider.round {
    border-radius: 34px;
}

.adv-search .title-adv .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.adv-search .title-adv .slider.round:before {
    border-radius: 50%;
}
.adv-search .title-adv .slider.round:before {
    border-radius: 50%;
}
.adv-search .title-adv .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.adv-search .title-adv .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.adv-search .title-adv input:checked + .slider {
    background-color: #143655;
}

.adv-search .title-adv input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-left: 24px;
    -ms-left: 24px;
    left: 24px;
}

.adv-search .title-adv .buy-sw {
    font-weight: 600;
    font-size: 14px;
    margin: auto;
}

.adv-search .title-adv .buy-sw.active {
    font-size: 14px;
    margin: auto;
    font-weight: normal;
}

.adv-search .title-adv .lease-sw {
    font-size: 14px;
    margin: auto;
}

.adv-search .title-adv .lease-sw.active {
    font-size: 14px;
    margin: auto;
    font-weight: 600;
}--*/



.adv-search .close-adv {
    width: auto;
    float: right;
    position: relative;
    margin-top: -110px;
}

.adv-search .close-adv i {
    vertical-align: middle;
    background: #133555;
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.adv-search input.price-range {
    width: 100%;
    margin: 14px auto 16px auto;
    -webkit-appearance:none;
    -moz-appearance:none;
    outline: none;
    -moz-outline: none;
    position: absolute;
    left: 0;
}

.adv-search .slide-range {
    text-align: center;
}

.adv-search label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #133555;
}

.adv-search .form-control {
    padding: 10px 10px 10px 32px !important;
    background: #f2f2f2;
    border: 1px solid #ddd;
}

.adv-search .form-control:focus {
    background: #f2f2f2;
    border: 1px solid #ddd;
}

.adv-search input.price-range::before, .adv-search input.price-range::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #133555;
    border-radius: 50%;
}

.adv-search input.price-range::-webkit-slider-runnable-track {
    background: #133555;
    height: 4px;
}

.adv-search input.price-range::-webkit-slider-thumb {
    -webkit-appearance:none;
    background: #133555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.4s all ease-out;
}

.adv-search input.price-range::-moz-range-track {
    background: #133555;
    height: 4px;
    border-radius: 2px;
}

.adv-search input.price-range::-moz-focus-outer {
    border: 0;
    outline: none;
}

.adv-search input.price-range::-moz-range-thumb {
    -moz-appearance:none;
    background: #133555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
    outline: none;
}

.adv-search .flo-left {
    float: left;
}

.adv-search .flo-left h6 {
    border-bottom: 1px solid #133555;
    padding: 0 0 10px 0;
}

.adv-search .flo-right {
    float: right;
}

.adv-search .flo-right h6 {
    border-bottom: 1px solid #133555;
    padding: 0 0 10px 0;
}

.adv-search .wrapper-tab {
    margin: auto;
}

.adv-search .wrapper-tab .tab-space .stud {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 22px;
    border: 1px solid #133555;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    float: left;
}

.adv-search .wrapper-tab .tab-space .stud.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.adv-search .wrapper-tab .tab-space .one-br {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 22px;
    border: 1px solid #133555;
    border-left: none;
    cursor: pointer;
    margin-left: 0;
    float: left;
}

.adv-search .wrapper-tab .tab-space .one-br.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.adv-search .wrapper-tab .tab-space .two-br {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 22px;
    border: 1px solid #133555;
    cursor: pointer;
    margin-left: 0;
    float: left;
    border-left: none;
}

.adv-search .wrapper-tab .tab-space .two-br.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.adv-search .wrapper-tab .tab-space .three-br {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 22px;
    cursor: pointer;
    border: 1px solid #133555;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.adv-search .wrapper-tab .tab-space .three-br.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.adv-search .wrapper-tab .tab-space .all {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 0;
    float: left;
}

.adv-search .wrapper-tab .tab-space .all.active {
    background: #133555;
    color: #fff;
}

.adv-search .wrapper-tab .tab-space .full {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.adv-search .wrapper-tab .tab-space .full.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.adv-search .wrapper-tab .tab-space .semi {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.adv-search .wrapper-tab .tab-space .semi.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.adv-search .wrapper-tab .tab-space .non {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #133555;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.adv-search .wrapper-tab .tab-space .non.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.wrapper-yesno {
    text-align: center;
    margin: auto;
}

.wrapper-yesno label {
    float: none;
    clear: both;
    text-align: center;
    margin: auto;
}

.wrapper-yesno .wrapper-btnsw {
    float: none;
    margin: -16px auto auto auto;
    text-align: center;
    display: flex;
}

.wrapper-yesno .switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
    margin: 27px 10px;
}

.wrapper-yesno .title-adv .switch input {
    display: none;
}

.wrapper-yesno .slider.round {
    border-radius: 34px;
}

.wrapper-yesno .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.wrapper-yesno .slider.round:before {
    border-radius: 50%;
}

.wrapper-yesno .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.wrapper-yesno input:checked + .slider {
    background-color: #143655;
}

.wrapper-yesno input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-left: 24px;
    -ms-left: 24px;
    left: 24px;
}

.wrapper-yesno .buy-sw {
    font-weight: 600;
    font-size: 14px;
    margin: auto;
}

.wrapper-yesno .buy-sw.active {
    font-size: 14px;
    margin: auto;
    font-weight: normal;
}

.wrapper-yesno .lease-sw {
    font-size: 14px;
    margin: auto;
}

.wrapper-yesno .lease-sw.active {
    font-size: 14px;
    margin: auto;
    font-weight: 600;
}

.adv-search .mar-btm {
    margin-bottom: 30px;
}

.tab-floor .all2 {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 20px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 0;
    float: left;
}

.tab-floor .all2.active {
    background: #133555;
    color: #fff;
}

.tab-floor .numb1 {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 20px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.tab-floor .numb1.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.tab-floor .numb2 {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 20px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.tab-floor .numb2.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.tab-floor .numb3 {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 20px;
    border: 1px solid #133555;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.tab-floor .numb3.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.tab-floor .numbmax {
    background: transparent;
    outline: none;
    border: none;
    color: #133555;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #133555;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    float: left;
    border-left: none;
}

.tab-floor .numbmax.active {
    background: #133555;
    color: #fff;
    border-left: 1px solid #fff;
}

.title-unitam h4 {
    font-size: 18px;
}

.menu-unitam {
    margin: 20px auto;
    border-right: 1px solid #d8d8d8;
}

.menu-unitam h6 {
    font-weight: normal;
    font-size: 12px;
    margin: 10px;
}

.menu-unitam .listrik, .menu-unitam .dapur, .menu-unitam .diningset, .menu-unitam .tv, .menu-unitam .tempatidur {
    float: left;
    width: 100%;
}

.menu-unitam .aircond, .menu-unitam .mesincuci, .menu-unitam .kulkas, .menu-unitam .waterheat, .menu-unitam .accard {
    float: left;
    width: 100%;
}

.menu-unitam .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.menu-unitam .listrik .round-check.active, .menu-unitam .dapur .round-check.active, .menu-unitam .diningset .round-check.active, .menu-unitam .tv .round-check.active, .menu-unitam .tempatidur .round-check.active, .menu-unitam .aircond .round-check.active, .menu-unitam .mesincuci .round-check.active, .menu-unitam .kulkas .round-check.active, .menu-unitam .waterheat .round-check.active, .menu-unitam .accard .round-check.active {
    background: #133555;
    border: none;
}

.wrapper-btm-nearby .slide-range input.kilos-range {
    width: 100%;
    margin: auto;
    -webkit-appearance:none;
    -moz-appearance:none;
    outline: none;
    -moz-outline: none;
}

.wrapper-btm-nearby .slide-range input.kilos-range::-webkit-slider-runnable-track {
    background: #133555;
    height: 4px;
    border-radius: 2px;
}

.wrapper-btm-nearby .slide-range input.kilos-range::-webkit-slider-thumb {
    -webkit-appearance:none;
    background: #133555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
}

.wrapper-btm-nearby .slide-range input.kilos-range::-moz-range-track {
    background: #133555;
    height: 4px;
    border-radius: 2px;
}

.wrapper-btm-nearby .slide-range input.kilos-range::-moz-focus-outer {
    border: 0;
    outline: none;
}

.wrapper-btm-nearby .slide-range input.kilos-range::-moz-range-thumb {
    -moz-appearance:none;
    background: #133555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
    outline: none;
}

.wrapper-btm-nearby h4 {
    font-size: 14px;
    font-weight: 500;
    color: #133555;
}

.wrapper-btm-nearby h4.kilos {
    font-weight: normal;
    float: right;
}

.menu-btm-nearby {
    margin: 28px auto;
}

.menu-btm-nearby h6 {
    font-weight: 500;
    font-size: 12px;
    margin: 10px;
}

.menu-btm-nearby .shelter, .menu-btm-nearby .mall, .menu-btm-nearby .train, .menu-btm-nearby .traditional, .menu-btm-nearby .highway, .menu-btm-nearby .univ, .menu-btm-nearby .hospital {
    float: left;
    width: 100%;
}

.menu-btm-nearby .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
    cursor: pointer;
}

.menu-btm-nearby .shelter .round-check.active, .menu-btm-nearby .mall .round-check.active, .menu-btm-nearby .train .round-check.active, .menu-btm-nearby .traditional .round-check.active, .menu-btm-nearby .highway .round-check.active, .menu-btm-nearby .univ .round-check.active, .menu-btm-nearby .hospital .round-check.active {
    background: #133555;
    border: none;
}

.title-apart-faci h4 {
    font-size: 18px;
}

.menu-apart-faci {
    margin: 20px auto;
}

.menu-apart-faci h6 {
    font-weight: normal;
    font-size: 12px;
    margin: 10px;
}

.menu-apart-faci .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.menu-apart-faci .kolam, .menu-apart-faci .security, .menu-apart-faci .pet, .menu-apart-faci .tvcabs, .menu-apart-faci .inet, .menu-apart-faci .gym, .menu-apart-faci .resto, .menu-apart-faci .laptenis, .menu-apart-faci .lapbasket, .menu-apart-faci .atm, .menu-apart-faci .gstore, .menu-apart-faci .jogging, .menu-apart-faci .laundry, .menu-apart-faci .taman, .menu-apart-faci .ruangserba {
    float: left;
    width: 100%;
}

.menu-apart-faci .kolam .round-check.active, .menu-apart-faci .security .round-check.active, .menu-apart-faci .pet .round-check.active, .menu-apart-faci .tvcabs .round-check.active, .menu-apart-faci .inet .round-check.active, .menu-apart-faci .gym .round-check.active, .menu-apart-faci .resto .round-check.active, .menu-apart-faci .laptenis .round-check.active, .menu-apart-faci .lapbasket .round-check.active, .menu-apart-faci .atm .round-check.active, .menu-apart-faci .gstore .round-check.active, .menu-apart-faci .jogging .round-check.active, .menu-apart-faci .laundry .round-check.active, .menu-apart-faci .taman .round-check.active, .menu-apart-faci .ruangserba .round-check.active {
    background: #133555;
    border: none;
}

.bord-mar-btm {
    margin-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
}

.adv-search .wrapper-btn-srch {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.adv-search .wrapper-btn-srch .btn-srch {
    background: #133555;
    color: #fff;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.bord-le {
    border-left: 1px solid #d8d8d8;
}

/*------------ END OF ADVANCE SEARCH ------------*/

/*------------ ADVANCE SEARCH DETAIL MAP ------------*/

/*------GENERAL ADVANCE SEARCH DETAIL------*/
.adv-detail {
    width: 100%;
    background: rgba(0, 0, 0, 0.29);
    margin: auto;
    position: absolute;
    z-index: 9;
    display: none;
    height: 100%;
}

.adv-detail.active {
    display: block;
}

.adv-detail .close-adv {
    float: right;
    text-align: right;
    margin: 48px auto 10px auto;
}

.adv-detail .close-adv i {
    vertical-align: middle;
    background: #fff;
    color: #133555;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.adv-detail .card-adv-detail {
    background: #fff;
    width: 80%;
    margin: 60px auto auto auto;
    padding: 20px;
    height: 378px;
    border-radius: 6px;
}

.adv-detail .card-adv-detail .wrapper-menu-adv {
    overflow-y: scroll;
    height: 344px;
    overflow-x: hidden;
    padding: 0 24px;
}

.adv-detail .card-adv-detail .wrapper-menu-adv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.adv-detail .card-adv-detail .wrapper-menu-adv::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*------CBD MENU------*/
.card-adv-detail .cbd-menu .cbd, .card-adv-detail .cbd-menu .gatsu, .card-adv-detail .cbd-menu .megaku, .card-adv-detail .cbd-menu .sudirman, .card-adv-detail .cbd-menu .thamrin, .card-adv-detail .cbd-menu .khmas, .card-adv-detail .cbd-menu .kuningan, .card-adv-detail .cbd-menu .satrio, .card-adv-detail .cbd-menu .rasunan {
    float: left;
    width: 100%;
}

.card-adv-detail .cbd-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .cbd-menu {
    cursor: pointer;
}

.card-adv-detail .cbd-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .cbd-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .cbd-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .cbd-menu .cbd {
    margin-bottom: 10px;
}

.card-adv-detail .cbd-menu .cvrn-cbd {
    float: right;
    text-align: right;
}

.card-adv-detail .cbd-menu .round-check.active, .card-adv-detail .cbd .round-check.active, .card-adv-detail .gatsu .round-check.active, .card-adv-detail .megaku .round-check.active, .card-adv-detail .sudirman .round-check.active, .card-adv-detail .thamrin .round-check.active, .card-adv-detail .khmas .round-check.active, .card-adv-detail .kuningan .round-check.active, .card-adv-detail .satrio .round-check.active, .card-adv-detail .rasunan .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .cbd-menu .cvrn-cbd i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}


.card-adv-detail .cbd-menu .cvrn-cbd i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------TB SIMATUPANG------*/

.card-adv-detail .tbsima-menu .tbsima, .card-adv-detail .tbsima-menu .tb {
    float: left;
    width: 100%;
}

.card-adv-detail .tbsima-menu {
    cursor: pointer;
}

.card-adv-detail .tbsima-menu .tbsima {
    margin-bottom: 10px;
}

.card-adv-detail .tbsima-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .tbsima-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .tbsima-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .tbsima-menu .cvrn-tbsima {
    float: right;
    text-align: right;
}

.card-adv-detail .tbsima-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .tbsima-menu .round-check.active, .card-adv-detail .tbsima-menu .tb .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .tbsima-menu .cvrn-tbsima i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .tbsima-menu .cvrn-tbsima i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------JAKARTA SELATAN------*/
.card-adv-detail .jaksel-menu .jaksel {
    margin-bottom: 10px;
}

.card-adv-detail .jaksel-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .jaksel-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .jaksel-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .jaksel-menu .jaksel, .card-adv-detail .jaksel-menu .setbud, .card-adv-detail .jaksel-menu .pancoran, .card-adv-detail .jaksel-menu .jagakarsa, .card-adv-detail .jaksel-menu .pasarrebo, .card-adv-detail .jaksel-menu .tbsimatupang, .card-adv-detail .jaksel-menu .dharma, .card-adv-detail .jaksel-menu .mampang, .card-adv-detail .jaksel-menu .cilandak, .card-adv-detail .jaksel-menu .kebaylama, .card-adv-detail .jaksel-menu .kemang, .card-adv-detail .jaksel-menu .pejaten, .card-adv-detail .jaksel-menu .tebet, .card-adv-detail .jaksel-menu .kebaybaru, .card-adv-detail .jaksel-menu .pasming, .card-adv-detail .jaksel-menu .kembangan, .card-adv-detail .jaksel-menu .blokm {
    float: left;
    width: 100%;
}

.card-adv-detail .jaksel-menu .cvrn-jaksel {
    float: right;
    text-align: right;
}

.card-adv-detail .jaksel-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .jaksel-menu .round-check.active, .card-adv-detail .jaksel .round-check.active, .card-adv-detail .setbud .round-check.active, .card-adv-detail .pancoran .round-check.active, .card-adv-detail .jagakarsa .round-check.active, .card-adv-detail .pasarrebo .round-check.active, .card-adv-detail .tbsimatupang .round-check.active, .card-adv-detail .dharma .round-check.active, .card-adv-detail .mampang .round-check.active, .card-adv-detail .cilandak .round-check.active, .card-adv-detail .kebaylama .round-check.active, .card-adv-detail .kemang .round-check.active, .card-adv-detail .pejaten .round-check.active, .card-adv-detail .tebet .round-check.active, .card-adv-detail .kebaybaru .round-check.active, .card-adv-detail .pasming .round-check.active, .card-adv-detail .kembangan .round-check.active, .card-adv-detail .blokm .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .jaksel-menu {
    cursor: pointer;
}

.card-adv-detail .jaksel-menu .cvrn-jaksel i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .jaksel-menu .cvrn-jaksel i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------JAKARTA PUSAT------*/
.card-adv-detail .jakpus-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .jakpus-menu .cvrn-jakpus {
    float: right;
    text-align: right;
}

.card-adv-detail .jakpus-menu {
    cursor: pointer;
}

.card-adv-detail .jakpus-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .jakpus-menu .jakpus, .card-adv-detail .jakpus-menu .tanbang, .card-adv-detail .jakpus-menu .setbud-2, .card-adv-detail .jakpus-menu .cempaka, .card-adv-detail .jakpus-menu .kebonsirih, .card-adv-detail .jakpus-menu .harmony, .card-adv-detail .jakpus-menu .menteng, .card-adv-detail .jakpus-menu .kemayoran, .card-adv-detail .jakpus-menu .sawahbsr, .card-adv-detail .jakpus-menu .salemba, .card-adv-detail .jakpus-menu .gambir, .card-adv-detail .jakpus-menu .senen, .card-adv-detail .jakpus-menu .cikini, .card-adv-detail .jakpus-menu .gmada {
    float: left;
    width: 100%;
}

.card-adv-detail .jakpus-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .jakpus-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .jakpus-menu .jakpus {
    margin-bottom: 10px;
}

.card-adv-detail .jakpus-menu .round-check.active, .card-adv-detail .jakpus-menu .jakpus .round-check.active, .card-adv-detail .jakpus-menu .tanbang .round-check.active, .card-adv-detail .jakpus-menu .setbud-2 .round-check.active, .card-adv-detail .jakpus-menu .cempaka .round-check.active, .card-adv-detail .jakpus-menu .kebonsirih .round-check.active, .card-adv-detail .jakpus-menu .harmony .round-check.active, .card-adv-detail .jakpus-menu .menteng .round-check.active, .card-adv-detail .jakpus-menu .kemayoran .round-check.active, .card-adv-detail .jakpus-menu .sawahbsr .round-check.active, .card-adv-detail .jakpus-menu .salemba .round-check.active, .card-adv-detail .jakpus-menu .gmada .round-check.active, .card-adv-detail .jakpus-menu .gambir .round-check.active, .card-adv-detail .jakpus-menu .senen .round-check.active, .card-adv-detail .jakpus-menu .cikini .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .jakpus-menu .cvrn-jakpus i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .jakpus-menu .cvrn-jakpus i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------JAKARTA BARAT------*/
.card-adv-detail .jakbar-menu {
    cursor: pointer;
}

.card-adv-detail .jakbar-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .jakbar-menu .jakbar {
    margin-bottom: 10px;
}

.card-adv-detail .jakbar-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .jakbar-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .jakbar-menu .cvrn-jakbar {
    float: right;
    text-align: right;
}

.card-adv-detail .jakbar-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .jakbar-menu .jakbar, .card-adv-detail .jakbar-menu .cengkareng, .card-adv-detail .jakbar-menu .grogpet, .card-adv-detail .jakbar-menu .tomang, .card-adv-detail .jakbar-menu .daan, .card-adv-detail .jakbar-menu .palmerah, .card-adv-detail .jakbar-menu .puri, .card-adv-detail .jakbar-menu .kembangan-1, .card-adv-detail .jakbar-menu .kebonjer, .card-adv-detail .jakbar-menu .grogol, .card-adv-detail .jakbar-menu .kedoya {
    float: left;
    width: 100%;
}

.card-adv-detail .jakbar-menu .round-check.active, .card-adv-detail .jakbar-menu .jakbar .round-check.active, .card-adv-detail .jakbar-menu .cengkareng .round-check.active, .card-adv-detail .jakbar-menu .grogpet .round-check.active, .card-adv-detail .jakbar-menu .tomang .round-check.active, .card-adv-detail .jakbar-menu .daan .round-check.active, .card-adv-detail .jakbar-menu .palmerah .round-check.active, .card-adv-detail .jakbar-menu .puri .round-check.active, .card-adv-detail .jakbar-menu .kembangan-1 .round-check.active, .card-adv-detail .jakbar-menu .kebonjer .round-check.active, .card-adv-detail .jakbar-menu .grogol .round-check.active,
.card-adv-detail .jakbar-menu .kedoya .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .jakbar-menu .cvrn-jakbar i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .jakbar-menu .cvrn-jakbar i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------JAKARTA TIMUR------*/
.card-adv-detail .jaktim-menu {
    cursor: pointer;
}

.card-adv-detail .jaktim-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .jaktim-menu .jaktim {
    margin-bottom: 10px;
}

.card-adv-detail .jaktim-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .jaktim-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .jaktim-menu .cvrn-jaktim {
    float: right;
    text-align: right;
}

.card-adv-detail .jaktim-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .jaktim-menu .jaktim, .card-adv-detail .jaktim-menu .matraman, .card-adv-detail .jaktim-menu .cemput, .card-adv-detail .jaktim-menu .rawamang, .card-adv-detail .jaktim-menu .kramjat, .card-adv-detail .jaktim-menu .pulgad, .card-adv-detail .jaktim-menu .tebet-2, .card-adv-detail .jaktim-menu .jtng, .card-adv-detail .jaktim-menu .pancoran-2 {
    float: left;
    width: 100%;
}

.card-adv-detail .jaktim-menu .round-check.active, .card-adv-detail .jaktim-menu .jaktim .round-check.active, .card-adv-detail .jaktim-menu .matraman .round-check.active, .card-adv-detail .jaktim-menu .cemput .round-check.active, .card-adv-detail .jaktim-menu .rawamang .round-check.active, .card-adv-detail .jaktim-menu .kramjat .round-check.active, .card-adv-detail .jaktim-menu .pulgad .round-check.active, .card-adv-detail .jaktim-menu .tebet-2 .round-check.active, .card-adv-detail .jaktim-menu .jtng .round-check.active, .card-adv-detail .jaktim-menu .pancoran-2 .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .jaktim-menu .cvrn-jaktim i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .jaktim-menu .cvrn-jaktim i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------JAKARTA UTARA------*/
.card-adv-detail .jakut-menu {
    cursor: pointer;
}

.card-adv-detail .jakut-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .jakut-menu .jakut {
    margin-bottom: 10px;
}

.card-adv-detail .jakut-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .jakut-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .jakut-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .jakut-menu .cvrn-jakut {
    float: right;
    text-align: right;
}

.card-adv-detail .jakut-menu .jakut, .card-adv-detail .jakut-menu .tanpri, .card-adv-detail .jakut-menu .penjar, .card-adv-detail .jakut-menu .muakar, .card-adv-detail .jakut-menu .padem, .card-adv-detail .jakut-menu .pik, .card-adv-detail .jakut-menu .kelapgad {
    float: left;
    width: 100%;
}

.card-adv-detail .jakut-menu .round-check.active, .card-adv-detail .jakut-menu .jakut .round-check.active, .card-adv-detail .jakut-menu .tanpri .round-check.active, .card-adv-detail .jakut-menu .penjar .round-check.active, .card-adv-detail .jakut-menu .muakar .round-check.active, .card-adv-detail .jakut-menu .padem .round-check.active, .card-adv-detail .jakut-menu .pik .round-check.active, .card-adv-detail .jakut-menu .kelapgad .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .jakut-menu .cvrn-jakut i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .jakut-menu .cvrn-jakut i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------TANGERANG------*/
.card-adv-detail .tangerang-menu {
    cursor: pointer;
}

.card-adv-detail .tangerang-menu .bord-btm {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.card-adv-detail .tangerang-menu .tangerang {
    margin-bottom: 10px;
}

.card-adv-detail .tangerang-menu .round-check {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #133555;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.card-adv-detail .tangerang-menu h4 {
    margin: 8px 4px 4px 4px;
    font-size: 14px;
}

.card-adv-detail .tangerang-menu .cvrn-tangerang {
    float: right;
    text-align: right;
}

.card-adv-detail .tangerang-menu .tangerang, .card-adv-detail .tangerang-menu .pinang,
.card-adv-detail .tangerang-menu .cengkareng-2, .card-adv-detail .tangerang-menu .tangerang-2, .card-adv-detail .tangerang-menu .bintaro, .card-adv-detail .tangerang-menu .bsd {
    float: left;
    width: 100%;
}

.card-adv-detail .tangerang-menu h6 {
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

.card-adv-detail .tangerang-menu .round-check.active, .card-adv-detail .tangerang-menu .tangerang .round-check.active, .card-adv-detail .tangerang-menu .pinang .round-check.active, .card-adv-detail .tangerang-menu .cengkareng-2 .round-check.active, .card-adv-detail .tangerang-menu .tangerang-2 .round-check.active, .card-adv-detail .tangerang-menu .bintaro .round-check.active, .card-adv-detail .tangerang-menu .bsd .round-check.active {
    background: #133555;
    border: none;
}

.card-adv-detail .tangerang-menu .cvrn-tangerang i {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-adv-detail .tangerang-menu .cvrn-tangerang i.active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*------ADVANCE SEARCH MAPS------*/
.card-adv-detail .adv-maps {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0;
}

.card-adv-detail .adv-maps img {
    width: 100%;
    margin: auto;
    padding: 0;
}

.menu-tags-adv {
    margin: 10px 0;
}

.menu-tags-adv .tag-one {
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 4px 0;
}

.menu-tags-adv .tag-one .pik {
    font-size: 10px;
    margin: auto 2px auto auto;
}

.menu-tags-adv .tag-one i {
    vertical-align: middle;
    background: #c4c4c4;
    color: #4e4e4e;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.img-maps {
    width: auto;
    margin: auto;
    position: relative;
}

.img-maps img {
    width: 100%;
}

.img-maps .content-maps {
    position: absolute;
    width: 120px;
    padding: 14px;
    background: #fff;
    top: 50%;
    left: 50%;
    text-align: center;
}

.img-maps .content-maps img {
    width: 100%;
}

.img-maps .content-maps h5 {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 10px auto 0 auto;
}

.img-maps .content-maps .km {
    font-size: 10px;
    margin: auto;
}

/*------OFFICE GALLERY------*/
.unit-card {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}

.unit-card img.bg-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin: auto;
    z-index: 0;
    border-radius: 6px;
}

.unit-card .grad-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 1px;
    z-index: 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #133555 120%);
}

.unit-card .btn-like {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like i.active {
    color: #ef1c26;
}

.button-buy-ofc {
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 1;
}

.button-buy-ofc .btnbuy {
    color: #fff;
    background: #133555;
    font-size: 10px;
    font-weight: 500;
    width: 70px;
    height: 34px;
    border-radius: 0;
}

.label-grade-ofc {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.label-grade-ofc .labelgrade {
    color: #fff;
    background: #ea9c17;
    font-size: 10px;
    font-weight: 500;
    width: 70px;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 0 4px 0 0;
    cursor: default;
}

.unit-card .simil-detail {
    padding: 140px 10px 10px 10px;
    position: relative;
    z-index: 0;
    color: #fff;
}

.unit-card .simil-detail span {
    font-size: 12px;
    text-shadow: 0.1rem 0.123rem 0.375rem #000;
}

.unit-card .simil-detail .sml {
    font-size: 20px;
    margin-right: 6px;
    float: inherit;
    vertical-align: super;
    text-shadow: 0.1rem 0.123rem 0.375rem #000;
}

.unit-card .simil-detail .permonth {
    font-weight: normal;
    text-shadow: 0.1rem 0.123rem 0.375rem #000;
}

.unit-card .simil-detail h4 {
    font-size: 20px;
    text-shadow: 0.1rem 0.123rem 0.375rem #000;
    margin-bottom: 0;
}

.unit-card .title-card-unit.bord-bt {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.unit-card .menu-dtl .capt {
    color: #fff;
    text-shadow: 0.1rem 0.123rem 0.375rem #000;
    font-size: 10px;
}

.unit-card .menu-dtl .minimarket, .unit-card .menu-dtl .foodcourt, .unit-card .menu-dtl .bank {
    margin-top: -6px;
}

.unit-card .btn-like-2 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-2 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-2 i.active {
    color: #ef1c26;
}

.unit-card .btn-like-3 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-3 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-3 i.active {
    color: #ef1c26;
}

.unit-card .btn-like-4 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-4 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-4 i.active {
    color: #ef1c26;
}

.unit-card .btn-like-5 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-5 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-5 i.active {
    color: #ef1c26;
}

.unit-card .btn-like-6 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-6 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-6 i.active {
    color: #ef1c26;
}

.unit-card .btn-like-7 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-7 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-7 i.active {
    color: #ef1c26;
}

.unit-card .btn-like-8 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.unit-card .btn-like-8 i {
    font-size: 22px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.unit-card .btn-like-8 i.active {
    color: #ef1c26;
}

/*------UNIT OFFICE PADDING------*/
.pad-ri-office {
    padding-right: 3px;
}

.pad-le-office {
    padding-left: 3px;
}

/*------PAGINATION GRID OR SOMETHING IN OFFICE GRID BY SEARCH------*/
.pagin-grid-office {
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

.pagin-grid-office .wrapper-next {
     width: 232px;
    margin: auto;
    text-align: center;
    display: flex;
}

.pagin-grid-office .wrapper-next h6.main {
    color: #fff;
    background: #133555;
    padding: 4px 10px;
    transition: all 300ms ease-in-out;
}

.pagin-grid-office .wrapper-next h6.main:hover {
    color: #fff;
    background: #133555;
}

.pagin-grid-office .wrapper-next h6 {
    color: #133555;
    background: #f3f3f3;
    padding: 4px 10px;
    margin: auto 6px;
    transition: all 300ms ease-in-out;
}

.pagin-grid-office .wrapper-next h6:hover {
    color: #fff;
    background: #133555;
}

.pagin-grid-office .wrapper-next i {
    color: #133555;
    background: #f3f3f3;
    padding: 5px 10px;
    margin: auto 6px;
    cursor: pointer;
}

/*------PEOPLE POP UP------*/
.ppl-pop {
    width: 100%;
    margin: auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px 0;
    position: absolute;
    z-index: 14;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    box-shadow: 0.1rem 0.123rem 0.375rem rgba(0, 0, 0, .15);
    display: none;
}

.ppl-pop.active {
    display: block;
}

.ppl-pop .head {
    font-weight: 500;
}

.ppl-pop .capt {
    color: #8a8a8a;
    font-size: 14px;
}

.ppl-pop .option-ppl {
    margin: 20px auto;
}

.option-ppl .open {
    margin: 20px auto;
    padding: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.option-ppl .open .head {
    font-weight: 500;
}

.option-ppl .open i {
    font-size: 44px;
    color: #fff;
    float: right;
    transition: all 300ms ease-in-out;
    display: none;
    margin-top: 30px;
}

.ppl-pop .option-ppl {
    margin: 20px auto;
}

.option-ppl .standard {
    margin: 20px auto;
    padding: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.option-ppl .standard .head {
    font-weight: 500;
}

.option-ppl .standard i {
    font-size: 44px;
    color: #fff;
    float: right;
    transition: all 300ms ease-in-out;
    display: none;
    margin-top: 30px;
}

.option-ppl .open.active {
    background: #133555;
}

.option-ppl .open .head.active {
    color: #fff;
}

.option-ppl .open i.active {
    display: block;
}

.option-ppl .standard.active {
    background: #133555;
}

.option-ppl .standard .head.active {
    color: #fff;
}

.option-ppl .standard i.active {
    display: block;
}

.ppl-pop .arrow-up {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;
    position: absolute;
    top: -16px;
    right: 20px;
}

.close-ppl {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 10;
}

.close-ppl.active {
    display: block;
}


/*------EDITED------*/
.pos-rel {
    position: relative;
    width: 100%;
    height: 38px;
    margin-bottom: 2px;
}

.btn-sqm {
    background: #133555;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
    z-index: 9 !important;
}

.btn-ppl {
    background: #133555;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    z-index: 9 !important;
}

.ppl-chevron {
    margin: auto 0 auto 4px;
}

.adv-search .form-group .form-control {
    position: relative;
    border-radius: 4px;
}

.adv-search .form-group img {
    position: absolute;
    top: 14px;
    left: 12px;
    z-index: 9
}

.adv-search .form-control.form-srch {
    padding: 10px !important;
}

/*------------ END OF ADVANCE SEARCH DETAIL LOCATION ------------*/