/*------------ TERMS AND CONDITIONS ------------*/

/*------GLOBAL IN THIS PAGE ONLY------*/
.five {
    font-weight: 500;
}

.pad-ri-terms {
    padding-right: 2px;
}

.pad-le-terms {
    padding-left: 2px;
    margin-top: 3px;
}

.pad-ri-blog {
    padding-right: 6px;
}

.pad-le-blog {
    padding-left: 6px;
}

.martp-min12 {
    margin-top: -12px;
}

.border-dot {
    border-bottom: 1px solid #ddd;
    border-bottom-style: dashed;
    margin: 14px auto;
}

.border-dot-mar20 {
    border-bottom: 1px solid #ddd;
    border-bottom-style: dashed;
    margin: auto auto 20px auto;
}

/*------BREADCRUMB------*/
.bc-terms .wrapper-bc-terms{
    margin: 20px 0;
}

.bc-terms .wrapper-bc-terms p, .bc-terms .wrapper-bc-terms a {
    color: #133555;
}

.bc-terms .wrapper-bc-terms i {
    margin: auto 4px;
    text-align: center;
    font-size: smaller;
}

.title-bd-terms .bord-btm {
    border-bottom: 1px solid #e7e7e7;
}

/*------BODY LEFT TERMS AND CONDITION------*/

.terms-list .col-2 {
    flex: 0 0 0.666667% !important;
}

i.fa-circle {
    font-size: 12px;
}

/*------BODY RIGHT TERMS AND CONDITION------*/
.title-more {
    padding-bottom: 14px;
}


.title-more span.more {
    font-size: 20px;
}

.terms-list a {
    color: black;
    text-decoration: underline;
}

.title-news {
    padding-bottom: 14px;
}


.title-news span.news {
    font-size: 20px;
}

.card-blog {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.card-blog img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card-blog h3 {
    font-size: 22px;
}

.card-blog .date {
    font-size: 14px;
    font-weight: 400;
    color: #929292;
}

.card-blog .blog img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    
}

.card-blog .blog h4 {
    font-size: 16px;
    margin-bottom: 0;
}




























