@media (max-width: 768px) {
        .forgot-section {
            margin: 0px 0 40px;
        }
        .btn-prim {
            width: 100%;
        }
        .password-confirm-wrap {
            padding: 0 20px 30px;
        }
        .login-form .wrapper-form .btn-socmed .conti-fb, .login-form .wrapper-form .btn-socmed .conti-go, .login-form .wrapper-form .btn-socmed .conti-in {
            width: 100%;
            margin: 5px 0;
        }
        p.conti {
            line-height: 26px !important;
        }
        p.h60 {
            padding: 0;
        } 
    }
