/*------HEADER------*/
@media (max-width: 991px) {
    .card-testi h5 {
        line-height: initial;
        }
    }
    
@media (max-width: 768px) {
        .card-testi h5 {
            margin-bottom: 0;
            font-size: 18px;
        }
        .card-testi .wrapper-cstmr {
            border: none;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }
        .wrapper-caption{
            display: flex;
            justify-content: center;
            margin-top: 15px;
            position: absolute;
            right: 15px;
        }
        .ratings i {
            font-size: 15px;
        }
        .card-testi .captions{
            margin-top: 15px;
        }
        .header-office span {
            font-size: 24px;
        }
        .testi-office {
            padding-top: 15px;
        }
        .captions p{
            text-align: justify;
            color: #000;
        }
        .card-testi {
            padding: 15px;
            margin: 10px;
        }
        .card-testi .cstmr img {
            width: 100px;
        }
        .bottom-bl-one {
            left: 0;
        }
        .captions h4 {
            width: 70%;
        }
    }
    @media (max-width: 575px) and (min-width: 420px) {
        .header-btn .btn-office, .header-btn .btn-apart {
            width: 45%;
        }   
    }
    @media (max-width: 420px) {
        .header-btn .btn-office, .header-btn .btn-apart {
            margin: 10px 0;
        }   
    }




















