/*------CHANGE PASSWORD------*/
@media (max-width: 420px) {
    .buttons {
        text-align: left;
    }
    
    .buttons .save {
        padding: 10px 28px;
    }
}

@media (max-width: 309px) {
    .buttons {
        margin: 0px auto 40px auto;
    }
    
    .buttons .back-acc {
        margin-bottom: 30px;
    }
    
    .form-pass.confirm {
        margin-bottom: 8px;
    }
}














